.project-list-card {
    border: var(--primary-border);
    border-radius: 8px;
    padding: 16px;

    &__header {
        display: flex;
        gap: 10px;

        margin-bottom: 14px;

        &-item {
            display: flex;
            align-items: center;
            gap: 6px;

            border: var(--primary-border);
            border-radius: 6px;
            padding: 2px 6px;

            height: 24px;

            box-shadow: var(--shadow);
        }

        &-icon {
        }

        &-value {
            font-size: 14px;
            font-weight: 400;

            color: #535862;
        }
    }
    &__title {
        margin-bottom: 6px;

        font-size: 20px;
        font-weight: 500;

        color: #181d27;
    }
    &__description {
    }
    &__info {
    }
    &__details {
        display: flex;
        align-items: center;
        gap: 6px;

        width: fit-content;

        font-size: 14px;
        font-weight: 500;

        color: #535862;
    }
    &__icon {
    }
    &__value {
  
    }
    &__task-title {
    }
    &__task-list {
    }
    &__task-item {
    }
    &__button {
        border-radius: 8px;
        border: var(--primary-border);
        margin-top: 16px;

        padding: 10px 14px;
        width: 100%;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);

        transition: 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            background: #fafafa;
        }
    }
}
