.dash-note-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    border-bottom: var(--primary-border);
    padding: 12px 20px;

    //height: 107px;

    cursor: pointer;

    transition: var(--primary-transition);

    &:hover {
        background-color: var(--primary-hover-bg);
    }

    &:last-child {
        border-bottom: none;
        border-bottom: var(--primary-border);
    }

    &__content {
        display: flex;
        flex-direction: column;

        margin-bottom: 8px;

        &-title {
            display: flex;
            align-items: center;

            font-size: 20px;
            font-weight: 500;
            word-wrap: break-word;

            color: #181d27;
        }

        &-description {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;

            color: #535862;
        }
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        width: 100%;

        &-item {
            display: flex;
            gap: 6px;
            align-items: center;

            border-radius: 6px;
            border: var(--primary-border);
            padding: 2px 6px;

            height: 24px;

            box-shadow: var(--shadow);
        }

        &-icon {
            color: #535862;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;

            color: #535862;
        }
    }
}
