.taskpage-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: var(--primary-border);
    border-radius: 8px;
    padding: 0.75rem;

    box-shadow: var(--shadow);

    &__left {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        border-radius: 6px;
        border: var(--primary-border);

        box-shadow: var(--shadow);

        cursor: pointer;
        outline: none;
        user-select: none;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &-icon {
            svg {
                width: 16px;
                height: 16px;

                color: #fff;
            }
        }

        &--checked {
            background-color: var(--color-brand);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__details {
        display: flex;
        gap: 8px;
    }

    &__title {
        margin-bottom: 3px;

        font-size: 16px;
        font-weight: 500;

        color: #181d27;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;

        color: #535862;
    }

    &__actions {
        display: flex;
        gap: 10px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        width: 32px;
        height: 32px;

        border-radius: 6px;
        border: var(--primary-border);
        padding: 2px 6px;

        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);

        transition: 0.2s ease-in-out;

        cursor: pointer;

        &:hover {
            background: #f5f6f8;
        }
    }
}

//todo: Clicking a task should open a modal with the task details and options to edit or delete the task.

.taskpage {
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    width: 100%;

    &__actions {
        display: flex;
        gap: 12px;

        padding: 24px 0;

        &-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            border-radius: 8px;
            border: var(--primary-border);

            padding: 10px 14px;
            height: 46px;
            width: 100%;
            max-width: fit-content;

            color: #181d27;
            background: var(--main-bg);
            box-shadow: var(--shadow);

            transition: 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                background: #fafafa;
            }
        }
    }

    &__header {
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        word-wrap: break-word;

        color: #181d27;
    }

    &__form {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 8px;

        border-radius: 8px;
        border: var(--primary-border);
        padding: 10px 14px;

        width: 100%;
        height: 46px;

        color: #181d27;
        box-shadow: var(--shadow);

        svg {
            stroke: var(--svg-color);
        }

        &:focus {
            border: 1px #a0d3bb solid;
        }

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            word-wrap: break-word;

            color: var(--placeholder-color);
        }

        &-input {
            border: none;
            background: transparent;
            outline: none;
            font-size: 16px;
            flex-grow: 1;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            border-radius: 8px;
            border: var(--primary-border);

            &:hover {
                cursor: pointer;
                border: 1px #a0d3bb solid;
            }

            &:active {
                background: #a0d3bb;
                border: 2px #a0d3bb solid;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    &__section {
        border-radius: 8px;
        border: var(--primary-border);

        box-shadow: var(--shadow);

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 24px;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            word-wrap: break-word;

            color: #181d27;
        }
    }

    &__inputs {
        display: flex;
        gap: 12px;

        padding: 24px;
    }

    &__task-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__filter-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        border-radius: 8px;
        border: var(--primary-border);

        padding: 10px 14px;

        height: 46px;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 8px;
        border: var(--primary-border);

        height: 46px;
        width: 100px;

        overflow: hidden;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 50%;

            &:hover {
                background: hsl(0, 0%, 95%);
            }

            svg {
                stroke: var(--svg-color);
            }
        }
    }
}
