.dash-stat-card {
    display: flex;
    align-items: center;
    gap: 20px;

    border: var(--primary-border);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;

    box-shadow: var(--shadow);

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;

        width: fit-content;

        border: var(--primary-border);
        border-radius: 6px;

        box-shadow: var(--shadow);
    }

    &__title {
        font-size: 16px;
        font-weight: 600;

        color: hsla(220, 8%, 35%, 1);
    }

    &__value {
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;

        color: #181d27;
    }
}
