.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;

    margin-bottom: 30px;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &-content {
            margin-bottom: 20px;
        }
    }

    &__logo {
        width: 60px;
        height: 60px;

        margin-bottom: 15px;
    }

    &__title {
        color: #181d27;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        word-wrap: break-word;
    }

    &__subtitle {
        color: #181d27;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;
    }

    &__button-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        a {
            width: 100%;
        }
    }

    &__actions {
        max-width: 400px;
    }

    &__button {
        border: var(--primary-border);
        border-radius: 6px;
        padding: 10px 20px;

        width: 100%;

        text-align: center;
        font-weight: 500;

        box-shadow: var(--shadow);

        cursor: pointer;
        transition: var(--primary-transition);

        &:hover {
            background: var(--primary-hover-bg);
        }

        &--secondary {
            margin-top: 5px;

            border: none;
            padding: 5px 0px;

            width: fit-content;

            position: relative;

            background: none;
            box-shadow: none;

            font-size: 14px;
            font-weight: 600;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;

                opacity: 0;

                width: 100%;
                height: 2px;

                background: black;

                transition: var(--primary-transition);
            }

            &:hover::after {
                opacity: 1;
            }

            &:hover {
                background: none;
            }
        }
    }
}

.button--teal {
    background: hsl(0, 0%, 0%);
    color: white;

    border: 0.1125rem transparent;

    transition: var(--primary-transition);

    &:hover {
        background: hsl(0, 0%, 15%);
    }
}
