.dashboard-chart {
    border: var(--primary-border);
    border-radius: 8px;

    height: 430px;

    box-shadow: var(--shadow);

    //display: none;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: sticky;
        top: 0;

        border-bottom: var(--primary-border);

        height: 60px;
        padding: 0 20px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;

        color: #181d27;
    }

    @media (width <= 600px) {
        width: 100%;
    }
}
