.dash-activity-card {
    display: flex;
    align-items: center;

    border-bottom: var(--primary-border);
    padding: 8px 10px;

    overflow: hidden;

    position: relative;

    &:last-child {
        border-bottom: none;
        border-bottom: var(--primary-border);
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
    }

    &__dot {
        position: relative;
        top: 1px;

        width: 6px;
        height: 6px;

        border-radius: 100%;

        background: var(--color-brand);
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 6px;

        height: 24px;
    }

    &__date {
        font-size: 12px;
        font-weight: 500;

        color: #535862;
    }

    &__end {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
