.project-list-page {
    max-width: 1000px;
    width: 100%;

    margin: 0 auto;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 16px;
    }

    &__actions {
        display: flex;
        gap: 12px;

        padding: 24px 0;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        &-buttons {
            display: flex;
            gap: 8px;

            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }

    &__title {
        color: #181d27;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        word-wrap: break-word;
    }
}
