.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    height: 64px;

    border: var(--primary-border);
    border-left: 0;
    padding: 0 20px;

    &__account {
        position: relative;

        display: flex;
        gap: 16px;

        height: 44px;

        &-avatar-container {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 44px;

            border: var(--primary-border);
            border-radius: 100%;
            overflow: hidden;

            box-shadow: var(--shadow);

            transition: var(--primary-transition);

            &:hover {
                cursor: pointer;
            }
        }

        &-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            position: absolute;
            top: 45px;
            right: 0px;

            width: 140px;
            width: fit-content;

            border: var(--primary-border);
            border-radius: 8px;

            background: white;
            box-shadow: var(--shadow);

            overflow: hidden;
        }

        &-details {
            display: flex;

            gap: 4px;
        }

        &-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            word-wrap: break-word;
        }

        &-email {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;

            color: #414651;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 12px;

            width: 100%;
            //height: 100%;

            padding: 10px 16px;

            font-size: 15px;

            transition: var(--primary-transition);

            &:hover {
                background: var(--primary-hover-bg);
                cursor: pointer;
            }
        }
    }

    &__theme-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;

        border: var(--primary-border);
        border-radius: 100%;
        overflow: hidden;

        box-shadow: var(--shadow);

        cursor: pointer;
        transition: var(--primary-transition);
    }

    &__links {
        display: flex;
        align-items: center;

        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        //width: 1280px;
        width: 100%;

        margin: 0 auto;
    }

    &__content {
        display: flex;
        gap: 16px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        height: 44px;

        padding: 0 10px;

        display: none;
    }
    &__brand {
        font-size: 20px;
        font-weight: 600;
        color: #181d27;
    }
    &__list {
        display: flex;
        gap: 10px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        border-radius: 8px;
        padding: 10px 16px;

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        word-wrap: break-word;

        color: #414651;
        background: var(--main-bg);

        &:hover {
            background: hsl(0, 0%, 95%);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 100%;
        height: 100%;
        padding: 10px 16px;
        box-shadow: var(--shadow);
        border-radius: 8px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        word-wrap: break-word;

        &--signin {
            border: var(--primary-border);
            color: #414651;
            background: var(--main-bg);
        }
        &--signup {
            border: 2px white solid;
            color: white;
            background: var(--color-brand);
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        //gap: 16px;

        border-radius: 8px;
        border: var(--primary-border);
        padding: 10px 14px;

        height: 46px;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            border-radius: 8px;
            padding: 10px 10px;

            height: 100%;

            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            word-wrap: break-word;

            //color: #414651;
            color: #85888e;
            background: var(--main-bg);

            transition: var(--primary-transition);

            &:hover {
                color: #414651;

                cursor: pointer;

                path {
                    stroke-width: 2;
                    stroke: #414651;
                }
            }

            path {
                stroke: #85888e;

                transition: var(--primary-transition);
            }

            // &:hover path {
            //     stroke-width: 2;
            //     stroke: #414651;
            // }
        }
    }

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        //width: 35px;
        height: 100%;

        padding: 0 10px;

        &-avatar {
            border: var(--primary-border);
            border-radius: 100%;

            width: 35px;
            height: 35px;

            transition: var(--primary-transition);

            &:hover {
                filter: brightness(0.9);
                cursor: pointer;
            }
        }
    }
}

.logo {
    width: 32px;
    height: 32px;
}
