.taskpage {
    min-width: 400px;

    &__header {
    }

    &__title {
    }

    &__form {
        display: flex;

        &-input {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            border-radius: 8px;
            border: 1px #d5d7da solid;

            padding-left: 14px;
            padding-right: 14px;
            padding-top: 10px;
            padding-bottom: 10px;

            width: 100%;
            height: 100%;

            color: #181d27;
            background: white;
            box-shadow: 0px 1px 2px rgba(10, 12.67, 18, 0.05);
            //background: #0c0e12;

            &:focus {
                border: 1px #a0d3bb solid;
            }

            &::placeholder {
                font-size: 16px;
                font-family: Inter;
                font-weight: 400;
                line-height: 24px;
                word-wrap: break-word;

                color: #717680;
            }
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            border-radius: 8px;
            border: 1px #d5d7da solid;

            &:hover {
                cursor: pointer;
                border: 1px #a0d3bb solid;
            }

            &:active {
                background: #a0d3bb;
                border: 2px #a0d3bb solid;
            }
        }
    }

    &__task-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        border-radius: 8px;
        border: 1px #d5d7da solid;

        padding: 24px;
    }
}
