.dashboard {
    &__header {
        min-height: fit-content;

        padding-bottom: 30px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;

        color: #181d27;
    }
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "Top Top Top Top Top"
        "Middle Middle Middle Middle Activity"
        "Bottom Bottom Bottom Bottom Activity";
    gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "Top"
            "Middle"
            "Bottom"
            "Activity";
    }

    &__1 {
        grid-area: Top;

        height: fit-content;

        background: white;
    }

    &__2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-area: Middle;
        gap: 20px;

        background: white;

        @media (width <= 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__3 {
        display: grid;
        grid-area: Activity;

        background: white;
    }

    &__4 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-area: Bottom;
        gap: 20px;

        overflow: hidden;

        background: white;

        @media (width <= 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
