.info-pill {
    display: flex;
    align-items: center;
    gap: 5px;

    border: var(--primary-border);
    border-radius: 6px;

    width: fit-content;

    text-transform: capitalize;
    font-weight: 600;

    color: #181d27;
    box-shadow: var(--shadow);

    &--sm {
        font-size: 10px;
        padding: 0.15rem 0.4rem;
    }

    &--md {
        font-size: 12px;
        padding: 0.2rem 0.5rem;
    }
}
