:root {
  --color-brand: #47df95;
}

.text-sm-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #535862;
}

.display-xs-semibold {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  color: #181d27;
}

.signup-page {
  width: 100%;
}

#root {
  width: 100%;

  /* margin: 0 auto; */
}

body {
  display: flex;
  /* place-items: center; */
  min-height: 100vh;

  margin: 0;

  font-family: "Inter", serif;
  font-optical-sizing: auto;

  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
