:root {
  --color-brand: #91e6bf;
}

.text-sm-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #535862;
}

.display-xs-semibold {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  color: #181d27;
}

#root {
  margin: 0 auto;
}
