.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
}

.modal {
    border: var(--primary-border);
    border-radius: 8px 8px 0 0;
    padding: 16px;

    width: 100%;
    max-width: 500px;

    background: white;
    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &.modal--open {
        transform: translateY(0);
    }

    &__title {
        font-size: 1.15rem;
        margin-bottom: 1rem;
        text-align: left;
        font-weight: 600;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        &-group {
            position: relative;
        }
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__input,
    &__textarea {
        border: var(--primary-border);
        border-radius: 6px;
        padding: 7.5px 10px;

        box-shadow: var(--shadow);

        &:focus {
            outline: none;
        }
    }
    &__textarea {
        min-height: 72px;

        resize: none;
    }

    &__option-wrapper {
        display: flex;
        flex-direction: column;

        margin-top: 8px;
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 6px;

        padding: 5px 6px;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__button-wrapper {
        display: flex;

        gap: 8px;

        margin-top: 20px;
    }

    &__button {
        border: var(--primary-border);
        border-radius: 8px;
        padding: 5px 10px;

        width: 100%;

        box-shadow: var(--shadow);

        transition: var(--primary-transition);
        cursor: pointer;

        font-weight: 600;

        &--create {
            &:hover {
                background: whitesmoke;
            }
        }

        &--cancel {
            background: hsl(0, 72%, 47%);
            color: hsl(0, 0%, 100%);

            &:hover {
                background: hsl(0, 72%, 60%);
            }
        }
    }
}
