.folder-list-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border: var(--primary-border);
    border-radius: 8px;
    padding: 16px;

    box-shadow: var(--shadow);

    transition: var(--primary-transition);

    &:hover {
        cursor: pointer;
        background: var(--primary-hover-bg);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        width: 100%;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;

        color: #181d27;
    }

    &__count {
        display: grid;
        place-items: center;
        width: 30px;
        height: 30px;
        border: var(--primary-border);
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        color: hsl(220, 8%, 35%);
        box-shadow: var(--shadow);
    }

    &__actions {
        display: flex;
        gap: 10px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        width: 32px;
        height: 32px;

        border-radius: 6px;
        border: var(--primary-border);
        padding: 2px 6px;

        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;

        color: #181d27;
        background: var(--main-bg);
        box-shadow: var(--shadow);

        transition: var(--primary-transition);

        cursor: pointer;

        &:hover {
            background: #f5f6f8;
        }
    }
}
